<div class="col-xs-12 col-md-8 col-md-offset-2">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="text-center">New Qualification </h1>
		</div>
		<div class="panel-body">	
			<%= render 'form', applicant_person_qualification_field_of_study: @applicant_person_qualification_field_of_study %>
		</div>	
			<%= link_to 'Back', applicant_person_qualification_field_of_studies_path, class: "btn btn-xs btn-danger" %>
	</div>
</div>			