<h1>New Applicant Person Qualification Field Of Study</h1>

<%= render 'form', applicant_person_qualification_field_of_study: @applicant_person_qualification_field_of_study %>

<%= link_to 'Back', applicant_person_qualification_field_of_studies_path %>
