<style>
/*body {
    background:
    linear-gradient(
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.5)),
    url("Cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
h1, h3 {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
.white {
  color: white;
  font-size: 25px;
}

.panel, .alert {
  box-shadow: 3px 3px 5px 6px #000000;
}

a:hover, .panel:hover {
  opacity: 0.75;
}

</style>
	<% if current_applicant.admin? %>
<h1 class="text-center">Admin Dashboard</h1>
<hr>
<ul class="nav nav-pills">
	<li class="active"><a data-toggle="pill" href="#home">ApplyOnce</a></li>
	<li><a data-toggle="pill" href="#menu1">Documents</a></li>
	<li><a data-toggle="pill" href="#menu2">COMING SOON</a></li>
	<li><a data-toggle="pill" href="#menu3">COMING SOON</a></li>
</ul>
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<h3>ApplyOnce</h3>
		<div>
		<%=render "admin/AppOnceDashboard" %>
		</div>
	</div>
	<div id="menu1" class="tab-pane fade">
		<h3>Documents</h3>
		<p>Issue to sort after record number:</p>
		<%= render "admin/DocumentsAdmin" %>
	</div>
	<div id="menu2" class="tab-pane fade">
		<h3>Menu 2</h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
	</div>
	<div id="menu3" class="tab-pane fade">
		<h3>Menu 3</h3>
		<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</div>
</div>


	<% else %>

<h1 class="text-center">Oops, Looks like you got lost...</h1>
<h3 class="text-center">
	Please wait while we redirect you back to where you should be:
</h3>


<script>
	var d = window.location.origin;
	console.log(d);
	wait(4000);
  window.location.href = d;

  function wait(ms){
  var d = new Date();
  var d2 = null;
  do { d2 = new Date(); }
  while(d2-d < ms);
  }
</script>

<%end%>
