<h1>Editing Applicant Foi Program</h1>

<%= render 'form', applicant_foi_program: @applicant_foi_program %>

<%= link_to 'Show', @applicant_foi_program %> |
<%= link_to 'Back', applicant_foi_programs_path %>
