<h1>Editing Applicant Disability Type</h1>

<%= render 'form', applicant_disability_type: @applicant_disability_type %>

<%= link_to 'Show', @applicant_disability_type %> |
<%= link_to 'Back', applicant_disability_types_path %>
