

        <table class="table table-bordered table-responsive table-striped thumbnail">
          <tbody><tr>
            <th><h4>Document Name</h4></th>
            <th><h4>Document Status</h4></th>
            <th colspan="2" class="text-center"><h4>Action</h4></th>
          </tr>
  <tr>
    <td>Identity Document</td>
    <td><span class="fa fa-exclamation-circle fa-lg" text-default'=""></span>

      <!-- needs to see if there is a file -->

    </td>
    <td class="">
      <input type="file" name="file[]">
    </td>
    <td>
      <a class="btn btn-sm btn-default" disabled="">

        <!-- NEEDS TO SHOW IF THERE IS A FILE ELSE "NO FILE" -->


      </a>
    </td>
  </tr>

  <tr>
    <td>Academic Transcript</td>
    <td><span class="fa fa-exclamation-circle fa-lg" text-default'=""></span>

      <!-- needs to see if there is a file -->

    </td>
    <td class="">
      <input type="file" name="file[]">
    </td>
    <td>
      <a class="btn btn-sm btn-default" disabled="">

        <!-- NEEDS TO SHOW IF THERE IS A FILE ELSE "NO FILE" -->

      </a>
    </td>
  </tr>

  <tr>
    <td>Highest Qualification</td>
    <td><span class="fa fa-exclamation-circle fa-lg" text-default'=""></span>

        <!-- needs to see if there is a file -->

    </td>
    <td class="">
      <input type="file" name="file[]">
    </td>
    <td>
      <a class="btn btn-sm btn-default" disabled="">

        <!-- NEEDS TO SHOW IF THERE IS A FILE ELSE "NO FILE" -->

      </a>
    </td>
  </tr>

  <tr>
    <td>Proof of Residence</td>
    <td><span class="fa fa-exclamation-circle fa-lg" text-default'=""></span>

        <!-- needs to see if there is a file -->

    </td>
    <td class="">
      <input type="file" name="file[]">
    </td>
    <td>
      <a class="btn btn-sm btn-default" disabled="">

        <!-- NEEDS TO SHOW IF THERE IS A FILE ELSE "NO FILE" -->

      </a>
    </td>
  </tr>

  <tr>
    <td>Proof of Banking Details</td>
    <td><span class="fa fa-exclamation-circle fa-lg" text-default'=""></span>

        <!-- NEEDS TO CHECK IF THERE IS A FILE -->

      </td>
    <td class="">
      <input type="file" name="file[]">
    </td>
    <td>
      <a class="btn btn-sm btn-default" disabled="">

       <!-- NEEDS TO SHOW IF THERE IS A FILE ELSE "NO FILE" -->

      </a>
    </td>
  </tr>
  </tbody></table>
        
