<h2>Hello <%= current_applicant.username %>  </h2><h4>Before uploading your documents, please take note of the following:</h4>
<ul class="">
 <li>Documents must be in PDF format only e.g. ID_copy.pdf.</li>
  <li>All Documents certified, and the date certified must be within the last three months
    i.e. If you are submitting the document in April, it must have been certified either in February, March or April itself.</li>
  <li>Select all the required documents before clicking the upload button.</li>
  <li>The content of all the documents must be clearly visible in order for the document to be approved.</li>
  <li>After you have successfully submitted all documents, please keep checking the status of the documents. If they are rejected, you must reupload a correct copy, until the document is accepted.</li>
  <br>
</ul><!--if (contract){echo link to contracts page}  -->
<label class="text-danger">*Please make sure that you have read and understood the above instructions before proceeding to uploading*</label>
