<h1>Editing Applicant Experience</h1>

<%= render 'form', applicant_experience: @applicant_experience %>

<%= link_to 'Show', @applicant_experience %> |
<%= link_to 'Back', applicant_experiences_path %>
