<style>
  #admin{
    color:white;
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_page?(root_path)%>
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-piggy-bank"></i> Little Pig Recruitment</a>
      <% else %>
        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-piggy-bank"></i> Home</a>
      <% end %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !applicant_signed_in? %>
           <li><a href="/applicants/sign_up"><i class="glyphicon glyphicon-pencil"></i> Sign Up</a></li>
           <li><a href="/applicants/sign_in"><i class="glyphicon glyphicon-log-in"></i> Log In</a></li>
        <% else %>
           <li class="active"><a href="#">Signed in as: <%= current_applicant.username %></a></li>

            <%  a = current_applicant.applicant_personal_details.pluck()
                status = a[0][8];
                if status > 3
               %>
                <li><a href="/documents/index"> Documents </a></li>
                <% end %>


        <% end %>

      </ul>

      <% if applicant_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> Options <span style="color:grey;" class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/applicants/index"><i class="glyphicon glyphicon-list"></i> Application Info</a></li>
              <li><a href="/applicants/edit"><i class="glyphicon glyphicon-edit"></i> Edit Login Info</a></li>
              <!-- <li><%= link_to "Generate CV", applicants_index_url(format: "pdf"), target: :_blank %></li> -->
              <li role="separator" class="divider"></li>
              <li><%= link_to '<i class="glyphicon glyphicon-log-out"></i> Log Out'.html_safe, destroy_applicant_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
