<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
	  <h1 class="text-center">Edit <%= current_applicant.username %> Emergency Contact</h1>
	</div>  
	<div class="panel-body">  
	  <%= render 'form', applicant_emergency_contact: @applicant_emergency_contact %>
    </div>
	<%= link_to 'Back', :back, class: "btn btn-xs btn-danger" %>
  </div>
</div>